.main-container {
    padding: 20px;
}

.categories {
    background-color: shade(@theme_bg_color, 0.99);
}

GtkListBoxRow.category {
    padding: 10px;
    border: 1px;
}

.config-title {
  font-size: 12px;
  font-weight: bold;
}

.config-description {
  margin: 0 10px;
}


#kernel_panel #content  GtkLabel {
  margin: 10px 5px 20px 10px;
}
